{% extends 'base.html' %}
{% block body %}
<div class="container">
		<div class="row mt-3">
		<div class="col-sm-4">
		<input class="form-control" type="text" id='player' placeholder='Player or Character' required>
		</div>
		<div class="col-sm-4">
		<input class="form-control" type="text" id='action' placeholder='Action' required>
		</div>
		<div class="col-sm">
			<select id="dice-pile" name="">
		{% for n in range(1,101) %}
		<option value="{{ n }}">{{ n }}</option>
		{% endfor %}
			</select>
		</div>
		<div class="col-sm">
		<select id="dice" name="dice">
			<option value="d3">d3</option>
			<option value="d4">d4</option>
			<option value="d6">d6</option>
			<option value="d8">d8</option>
			<option value="d10">d10</option>
			<option value="d12">d12</option>
			<option value="d20">d20</option>
			<option value="d100">d100</option>
		</select>
		</div>
		<div class="col-sm">
			<select id="mod" name="">
		{% for n in range(-9, 10) %}
			<option value="{{ n }}">{{ n }}</option>
		{% endfor %}
			</select>
		</div>
		<div class="col-sm">
			<button class="btn btn-success" id='btn'>Roll!</button>
		</div>
		</div>
			<h1>Rolls</h1>
	<div class="row mt-2">
		<div class="col">
		<div class="container mt-4"  id='out'>
		</div>
		</div>
	</div>
</div>
    <script src={{ url_for('static', filename='socketio.min.js') }}></script>
	<script type="text/python" src="{{ url_for('static', filename='diceroller.py') }}"></script>
{% endblock %}
