{% extends 'base.html' %}
{% block body %}

<section class="container">
<h1>Why this Project?</h1>
<p>I always loved tabletop RPGs. And I know nowadays we have a ton of ways to play online. I just would like we could have a simple, fast and direct way. Without logins, accounts, whatever... Just want to roll my dices!</p>
<p>This is why there is no chat. You can chat with your players at Telegram, Whatsapp, Discord, Skype... I don't know! Choose one and be happy! You are already doing this, right now, I know... Just turn your chat in a gameplay. </p>
<h1>Plans for the future</h1>
<p>Maybe we can have more tools like, maps, grids, player stats... But no, no chats!</p>
<h1>The Author</h1>
<h1>Tech details...</h1>
<p>If you are a programmer and get interested on this project for technical reasons, you can just click the Github icon on the navbar and check the repo for all the details and source code.</p>
<h1>Contribute</h1>
<p>Do you want to contribute with my work? Thank you so much!</p> 
<p>First show this website for your friends, tell them how cool and easy is to roll your dices here! Then please, disable your Adblocker when visit us. I know ads are anoying, but the rooms itself (where you will be most of the time) have no ads! Just the other pages! So please consider to disable your Adblocker when visit us.</p>
<p>If you are willing to spend some money, you can donate any amount, anytime you want, via Paypal clicking the "Donate" link in the navbar.</p>
</section>

{% endblock %}
