{% extends 'base.html' %}
{% block body %}

<section class="container mt-2">
	<h1>Where is the rooms?</h1>
	<p>You need to create them. In the main page, type the title of the room (something like the title of your campaign, or something you and your friends would like) and a password (just to assure you and your friends will not be bothered by no one else). Then click "Create room" and vóila! there is your room.</p>
	<p>If your GM or any other player already has created a room, just ask him for the title and the password. Type them in the same fields, in the same page and now click "Enter room". </p>
	<h1>How to use the diceroller?</h1>
	<p>Well, if you are used to RPG concepts, you will get it fast. But let me help you a little, just in case you are having some hard time.</p>
	
	<!--img-->

	<ol>
		<li>Type the player or character name. I suggest the character name.</li>
		<li>Write the action the character are trying.</li>
		<li>Set how many dices you want to roll.</li>
		<li>Set the kind of dice you want to roll.</li>
		<li>Set any modifier to add or subtract from the roll. If there is none, choose 0.</li>
		<li>Now click the button to roll your dices!</li>
	</ol>
	<h1>In case you are in a mobile device</h1>
	<p>I recomend you the horizontal orientation to use this website. I'm sorry if this is bothering you. We will try to improve this.</p>
<h1>Why this project?</h1>
<p>I always loved tabletop RPGs. And I know nowadays we have a ton of ways to play online. I just would like we could have a simple, fast and direct way. Without logins, accounts, whatever... Just want to roll my dices!</p>
<p>This is why there is no chat. You can chat with your players at Telegram, Whatsapp, Discord, Skype... I don't know! Choose one and be happy! You are already doing this, right now, I know... Just turn your chat in a gameplay. </p>
<h1>Plans for the future</h1>
<p>Maybe we can have more tools like, maps, grids, player stats... But no, no chats!</p>
<h1>The Author</h1>
<p>My name is Almir Paulo, I like RPGs and other nerd things. I hope you are enjoying to play RPG in this website as much as I always enjoy to play RPGs. If you are reading this to get to know my other projects, thank you! I will try to keep this section updated. You also can check my personal <a href="https://almirpaulo.github.io" target="_blank">website</a>.</p>
<h1>Tech details...</h1>
<p>If you are a programmer and get interested on this project for technical reasons, you can just click the Github icon on the navbar and check the repo for all the details and source code.</p>
<h1>Contribute</h1>
<p>Do you want to contribute with my work? Thank you so much!</p> 
<p>First show this website for your friends, tell them how cool and easy is to roll your dices here! Then please, disable your Adblocker when visit us. I know ads are anoying, but remember it's all free! So please consider to disable your Adblocker when visit us.</p>
<p>If you are willing to spend some money, you can donate any amount, anytime you want, via Paypal, clicking the "Donate" link in the navbar.</p>
</section>

{% endblock %}
