{% extends 'base.html' %}
{%block body %}
<section class="container mt-2">
<h1>What is an RPG System?</h1>
<p>Basically, it's a certain set of rules to play RPG. There are a lot of classical RPG systems out there, like D&D, Storytelling, GURPS and so on. But maybe you would like an easier system to play an online RPG. Here I have some suggestion of free and simple systems for you.</p>

<ul class="list-unstyled">
	<li><a href="https://microlite20.org/community/download/file.php?id=8" target="_blank"><h4>Microlite20</h4></a>
	<p>Inspired in D&D, but with simple rules. A lot of suplements made by fans. This is the "Purest Essence" version. Despite of the name, it's pretty complete.</p>
	</li>
	<li><a href="https://johnharper.itch.io/lasers-feelings" target="_blank"><h4>Lasers and Feelings</h4></a>
	<p> A minimalistic Sci-Fi RPG.</p>
	<li><a href="https://rpggeek.com/image/3823763/scrolls-swords" target="_blank"><h4>Swords and Scrolls</h4></a>
	<p> A "Lasers and Feelings" hack to play Fantasy themed games.</p>
	<li><a href="http://www.catchyourhare.com/files/Cthulhu%20Dark.pdf" target="_blank"><h4>Cthulhu Dark</h4></a>
		<p> A simple system to play investigative horror scenarios. Inpired on the so called Cthulhu mythos by H.P. Lovecraft.</p>
	<li><a href="https://www.drivethrurpg.com/product/143146/Wushu-Black-Belt-Edition" target="_blank"><h4>Wushu RPG</h4></a>
	<p> I very interesting RPG to play games with a lot of action scenes. Inspired on Kung-Fu movies. A system when you roleplay first and then roll the dices.</p>
<!--	<li><a href="" target="_blank"><h4></h4></a>
<p></p>-->
</ul>

</section>

{% endblock %}
